@keyframes speedMove {
    0% {
        transform: translateX(15px);
    }
    50% {
        transform: translateX(-15px);
    }
    100% {
        transform: translateX(15px);
    }
}

@keyframes combine-trans-rotate {
    0% {
        transform: rotateX(0);
    }
    25% {
        transform: rotateX(45deg);
    }
    50% {
        transform: rotateX(90deg)
    }

}